body {
	background-color:     #E9CC9D;
	font-family:          "Lucida Grande", "Trebuchet MS", sans-serif;
	padding:              0px;
	margin:               0px;
}

h1 {
	font-size:            1.2em;
	border-bottom:        1px solid #000000;
	font-variant:         small-caps;
}

.content {
	padding:              10px;
	margin:               10px;
}

.container {
	width:                900px;
	margin-left:          auto;
	margin-right:         auto;
}

input {
	border:               1px solid #000000;
	background-color:     #F6DCB2;
	padding:              5px;
}

.error {
	background-color:     #E05A2A;
	padding:              5px;
	-moz-border-radius:   10px;
	margin:               10px;
}

.message {
	background-color:     #ba7182;
	padding:              5px;
	-moz-border-radius:   10px;
	margin:               10px;
}

td {
	padding:              5px;
}
