body {
	background-color:     #E9CC9D;
	font-family:          "Lucida Grande", "Trebuchet MS", sans-serif;
	padding:              0px;
	margin:               0px;
}

h1 {
	font-size:            1.2em;
	border-bottom:        1px solid #000000;
	font-variant:         small-caps;
}

.lookatme {
	position:             fixed;
	top:                  0px;
	left:                 0px;
	width:                100%;
	height:               100%;
	background-image:     url(../imgs/bg-xp-b.png);
}

.prompt {
	width:                 800px;
	height:                350px;
	margin-left:           auto;
	margin-right:          auto;
	background-color:      #DCDCDC;
	margin-top:            50px;
	overflow:              scroll;
	border:                4px solid #ECECEC;
}

.ok {
	background-color:     #9FF087;
}

.meh {
	background-color:     #DCDCDC;
}

.center {
	text-align:           center;
}

.shade {
	border-bottom:        1px solid #000000;
}

.shit {
	background-color:     #E16043;
}

.message {
	background-color:     #136085;
	color:                #000000;
	-moz-border-radius:   10px;
	-webkit-border-radius:10px;
	font-size:            1.2em;
	padding:              20px;
	margin:               20px;
}

.error {
	background-color:     #c12300;
	color:                #000000;
	-moz-border-radius:   10px;
	-webkit-border-radius:10px;
	font-size:            1.2em;
	padding:              20px;
	margin:               20px;
}

.editme {
}

.content {
	padding:              10px;
	margin:               10px;
}

.container {
	width:                900px;
	margin-left:          auto;
	margin-right:         auto;
}

input, textarea {
	border:               1px solid #000000;
	background-color:     #F6DCB2;
	padding:              5px;
}


