/* statix */
body {
	min-height:        700px;
	padding:           0px;
	margin:            0px;
	font-family:       "URW Gothic L", sans-serif;
	background-color:  #91d468;
	font-size:         1.2em;
	color:             #2C2C2C;

        background-image:     url(../imgs/404.png);
	background-position:  bottom right;
        background-repeat:    no-repeat;
}

h1 {
	padding-left:      40px;
	border-bottom:     1px #000000 solid;
	font-size:         1.5em;
}

/* klass */

.header {
/*	background-color:  #3C3C3C; */
	min-height:        80px;
        background-image:  url(../imgs/bg-xp-b.png);
}

.title {
	color:             #FFFFFF;
	padding-left:      80px;
	font-size:         1.7em;
}

.subtitle {
	color:             #FFFFFF;
	padding-left:      120px;
	font-size:         1em;
}

.container {
	width:             800px;
	margin-left:       auto;
	margin-right:      auto;
	margin-top:        50px;
        background-image:  url(../imgs/bg-xp-b.png);
	-webkit-border-radius:  5px;
	-moz-border-radius:     5px;
}

.menu {
	float:              right;
}

.mclear {
	clear:              both;
}

.content {
	padding:           20px;
}
